#gridContainer
{
	margin-top: 20px;
	height: 2000px;
	width: 2000px;

}

#banner
{
	width:50%;
    margin-left:auto;
    margin-right:auto;
}

#replay
{
	margin: 5px;
	width:50%;
    margin-left:auto;
    margin-right:auto;
}

.row
{
	margin: -9px;
	display: block;
	height: 40px;
	width: 2000px;
}

.tile
{
	margin-right: 1px;
	margin-left: 1px;
	display: inline-block;
	height: 30px;
	width: 30px;
	text-align: center;
	vertical-align:top;
}

img 
{
	width: 30px;
	height: 30px;
}
.empty
{
	background-color: green;
}

.mine
{
	background-color: green;
}

body
{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}